<div fxLayout="column">
  <div fxLayout="row">
    <mat-button-toggle-group
      name="gender"
      aria-label="Gender"
      [formControl]="genderControl"
      class="unit-field"
    >
      <mat-button-toggle value="male">
        Male<mat-icon fontIcon="male"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="female">
        Female<mat-icon fontIcon="female"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field class="unit-field">
      <mat-label>Age</mat-label>
      <input matInput type="number" [formControl]="ageControl" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <mat-form-field class="unit-field">
      <mat-label>Weight (LBS)</mat-label>
      <input matInput type="number" [formControl]="weightControlLB" />
    </mat-form-field>
    <mat-form-field class="unit-field">
      <mat-label>Weight (KG)</mat-label>
      <input matInput type="number" [formControl]="weightControlKG" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field class="unit-field">
      <mat-label>Height (IN)</mat-label>
      <input matInput type="number" [formControl]="heightControlIN" />
    </mat-form-field>
    <mat-form-field class="unit-field">
      <mat-label>Height (CM)</mat-label>
      <input matInput type="number" [formControl]="heightControlCM" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-label>PAL</mat-label>
    <mat-slider min="1" max="2" step="0.1" value="1.2" showTickMarks discrete>
      <input matSliderThumb [formControl]="palControl" />
    </mat-slider>
  </div>
</div>
