<div fxLayout="column">
  <div fxLayout="row">
    <mat-button-toggle-group
      name="unit"
      aria-label="Unit"
      [formControl]="unitControl"
    >
      <mat-button-toggle value="standard">Standard</mat-button-toggle>
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxLayout="row">
    <mat-button-toggle-group
      name="gender"
      aria-label="Gender"
      [formControl]="genderControl"
    >
      <mat-button-toggle value="male">
        Male<mat-icon fontIcon="male"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="female">
        Female<mat-icon fontIcon="female"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" [formControl]="ageControl" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Weight ({{ weightUnit }})</mat-label>
      <input matInput type="number" [formControl]="weightControl" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Height ({{ heightUnit1 }})</mat-label>
      <input matInput type="number" [formControl]="heightControl1" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Height ({{ heightUnit2 }})</mat-label>
      <input matInput type="number" [formControl]="heightControl2" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-label>PAL</mat-label>
    <mat-slider min="1" max="2" step="0.1" value="1.2" showTickMarks discrete>
      <input matSliderThumb [formControl]="palControl" />
    </mat-slider>
  </div>
</div>
